<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/2ada61ebcf.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid" >
      <div class="header row">
      <div class="col-2">
      <li class="none">
        <%= link_to "/"  do %>
        <span>Bookers</span>
        <% end %>
      </li>
      </div>
      <div class= "offset-6"></div>
      <% if user_signed_in? %>
        <div class= "col-1">
        <li>
          <%= link_to user_path(current_user.id) do %>
          <i class="fa-solid fa-house" style="color: #ffffff;">Home</i>
          <% end %>
        </li>
        </div>
        <div class= "col-1">
        <li>
          <%= link_to users_path do %>
          <i class="fa-solid fa-users" style="color: #ffffff;">Users</i>
          <% end %>
        </li>
        </div>
        <div class= "col-1">
        <li>
          <%= link_to books_path do %>
          <i class="fa-solid fa-book-open" style="color: #ffffff;">Books</i>
          <% end %>
        </li>
        </div>
        <div class= "col-1">
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;">Log out</i>
          <% end %>
        </li>
        </div>
      <% else %>
        <div class="col-1">
        <li>
          <%= link_to "/" do %>
           <i class="fa-solid fa-house" style="color: #ffffff;">Home</i>
           <% end %>
        </li>
        </div>
        <div class="col-1">
        <li>
          <%= link_to "/home/about" do %>
          <i class="fa-solid fa-link" style="color: #ffffff;">About</i>
          <% end %>
        </li>
        </div>
        <div class="col-1">
        <li>
          <%= link_to new_user_registration_path do %>
          <i class="fa-solid fa-user-plus" style="color: #ffffff;">Sign up</i>
          <% end %>
        </li>
        </div>
        <div class="col-1">
        <li>
          <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;">Log in</i>
          <% end %>
        </li>
        </div>
      <% end %>
      </div>
      </div>
    </header>
    <main>
      <%= flash[:notice] %>
    <%= yield %>
    </main>
  </body>
  <footer>
    <div class="container">
    <div class="row">
      <div class="mx-auto">
      <p>CopyRight Infratop.inc</p>
      </div>
    </div>
    </div>
  </footer>
</html>
